.box .mainImage{
    width: 100vw;
    height: 99vh;
    object-fit: cover;
    object-position: center;
}
.box{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    width: 75vw;
    height: 125vh;
    align-items:center;
}
.box img{
    width: 80%;
}
.box1 img{
    width: 84.6%;
}
.box .mainBox{
    display: flex;
    flex-direction: column;
}

.box .mainBox h1{
    font-size: 3rem;
    font-weight: 530;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(243, 239, 247);
    padding: 15px;
    margin: 30px;
    box-shadow: 8px 8px 8px;
    text-shadow: 2px 2px 2px rgb(137, 99, 137);
    width: 100%;
    text-align: center;
}

.box .mainBox input{
    font-size: 1.2rem;
    border-top: 0;
    border-left: 0 ;
    border-right: 0;
    border-bottom: 1px solid #000;
    text-align: center;
   
   
    margin: 1.75rem 0;
}

.box .mainBox textarea{
    border-radius: 0.8rem;
    padding: 0.3rem 1rem;
    font-size: 1.3rem;
    text-align: center;
}

.box .mainBox button{
    background-color: #29aadd;
    border: 1px solid white;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    margin: 0.75rem 0;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.box .mainBox button:hover{
    background-color: white;
    color: #29aadd;
    border: 1px solid #29aadd;
}
